/* Body */

html 
{
    scroll-behavior:smooth ;
    scrollbar-color: rgb(97, 66, 0) rgb(160, 128, 58);
    
  }

  .body
  {
    background-color:rgb(255, 255, 255);
      margin: 0px;
      font-family:Ubuntu;
  }
  
  /* Body End*/
  
  /* Navigation Bar */
  
  .navfont
  {
      color:rgb(119, 81, 0) ;
      font-size: 28px;
      background-image: linear-gradient( rgb(0, 0, 0)  10% , rgba(0, 0, 0, 0) 100%);
      height: 100px;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 0px;
      position: fixed;
      z-index: 12;
      transition:0.5s;
      
  }

  .navfont:hover
  {
      color:rgb(119, 81, 0) ;
      font-size: 28px;
      background-image: linear-gradient( rgb(0, 0, 0)  10% , rgba(0, 0, 0, 0.308) 100%);
      height: 100px;
      padding-left: 16px;
      padding-right: 16px;
      padding-top: 8px;
      position: fixed;
      z-index: 12;
      transition:0.5s;
      
  }

  .navlogo
  {
      width: 50px;
      height: 40px;
      
  }

  .menuicon
  {
      width: 50px;
      height: 60px;
      opacity: 0.7;
      margin-top: 0px;
      
  }

  .navlink
  {
      color:rgba(255, 255, 255, 0.822) ;
      font-size: 18px;
      font-family:lobster;
      font-style: italic;
      transition: 0.5s;
  }

  .navlink:hover
  {
      
    font-size: 18px;
    text-decoration: none;
    transition: 0.5s;
    color:rgb(168, 115, 0) ;
    
    
  }
  
  .navlink2
  {
    color:rgb(255, 255, 255) ;
    font-size: 13px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 0px;
    text-decoration: none;
    transition: 0.5s;
    font-weight: 600;
    
    
   
  
  
  }
  
  .navlink2:hover
  {
    
    font-size: 13px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 8px;
    text-decoration: none;
    transition: 0.5s;
    color:rgb(187, 128, 0) ;
    
  }
  
  
  .dropdown-content1 
  {
      display: none;
      position: absolute;
      background-image: linear-gradient( rgb(0, 0, 0) 10% , rgb(0, 0, 0) 100%);
      z-index: 1;
      color:rgb(119, 81, 0) ;
      
      
  }

  .dropdownA
  {
    color: white;
    display: block;
    margin-left: 10px;
    margin-bottom: 10px;
  }


  .dropdown-menu
  {
    background-color: rgba(245, 245, 245, 0);
  }


  .btn1 
  {
    border: 2px solid ;
    background-color: rgba(58, 40, 0, 0);
    color:rgb(134, 92, 0) ;
    padding: 0px 10px;
    font-size: 13px;
    cursor: pointer;
    border-radius: 20px;
    
    margin: 0px 5px;
    margin-top: 5px;
  }
  
      
  .navbtn 
  {
      border-color:rgba(0, 0, 0, 0) ;
      color: rgb(255, 255, 255);
      background: rgba(0, 0, 0, 0.959);
      
      transition: 0.5s;
  }
        
  .navbtn:hover 
  {
      background: rgb(255, 255, 255);
       color: rgb(0, 0, 0);
       transition: 0.5s;
  }


  @media only screen and (max-width : 992px) 
  {
    .dropdownback
  {
    background-image: linear-gradient( rgba(0, 0, 0, 0.212) 10% , rgba(0, 0, 0, 0.233) 100%);
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 0px 0px 10px 10px;
   margin-top: 0px;
   transition: 0.5s;
   
   
    
    
  }
  .navbtn 
  {
    border-color:rgba(255, 255, 255, 0) ;
    color: rgb(0, 0, 0);
    background: rgba(255, 255, 255, 0.959);
    width: 100px;
    transition: 0.5s;
    justify-items: center;
    
  }
  
  /* Navigation Bar End*/

    /* Slider */

  
}
  
      
.carousel-item 
{
  height: 80vh;
  min-height: 600px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.slider1
{
  width: 100%;
  background-color: rgba(0, 0, 0, 0.13);
  position: absolute;
  z-index: 1;
  height: 80vh;
}



.rates
{

width: 150px;
border-radius: 25px;
background-color:rgba(230, 195, 132, 0.836) ;
padding: 0px;
font-size: 15px;
color: #000000;
text-align: center;
transition: 0.5s;
cursor: pointer;



}

.rates:hover, .rates2:hover
{

width: 150px;
border-radius: 25px;
background-color:#473202e3 ;
padding: 0px;
font-size: 15px;
color: rgba(255, 255, 255, 0.897);
text-align: center;
transition: 0.5s;
cursor: pointer;
text-decoration: none;




}

.rates2
{

width: 150px;
border-radius: 25px;
background-color:rgba(255, 255, 255, 0) ;
padding: 0px;
font-size: 15px;
color: #000000;
text-align: center;
transition: 0.5s;
cursor: pointer;
text-decoration: none;



}

.nextprev
{
position: absolute;
z-index: 9;
}

/*slider end*/

  /*start parallex*/

.p2back 
{
    background-image: url("../resourses/back2.png");
}

.hr1
{
	border-top: 3px solid #8c8b8b;
    width: 70%;
    margin-bottom: 0%;
}

.hr1 .t-tilte 
{
    color: rgb(112, 77, 0);
}

.service 
{
    background-image: url("../resourses/back2.png");
    background-repeat: no-repeat;
}


/*end parallex*/

/*buuton*/

.menu_btn.btn.btn-primary 
{
    margin: 0 auto;
    display: block;
    width:140px;
    background-color: rgb(139, 105, 32);
    border-radius: 20px;
}


.menu_btn.btn.btn-primary 
{
	margin: 0 auto;
	display: block;
	width:10%;
}


.btn.btn-primary 
{
    background-color: white;
	border: 1px solid rgb(146, 109, 28);
	transition: .3s;
	position: relative;
	z-index: 1;
	text-transform: capitalize;
	font-weight: 700;
	overflow: hidden;
	padding: 15px 25px;
}


.btn.btn-primary::before 
{
	position: absolute;
	content: '';
	background: rgb(151, 108, 14);
	width: 100%;
	height: 10%;
	left: -100%;
	top: 10%;
	transition: .3s;
	z-index: -1;
}


.btn.btn-primary:hover:before
{
    top: 0;
    left: 0;
    background-color: rgb(163, 126, 45);
    border-color: rgb(112, 77, 0);
}

/*button end*/

/*detail*/

p.site-title 
{
    color: #000000;
  }
  
  article.col-md-4 col-lg-3 
  {
    background: #f5f5f5;
    margin-top: 1em;  
    margin-bottom: 2em;
    box-shadow: 3px 3px 8px hsl(0, 0%, 70%);
  }
  
  div.card-content 
  {
    background: #f5f5f5;
    padding: 0.5em;
    margin-top: 1em;  
    margin-bottom: 2em;
    box-shadow: 3px 3px 8px hsl(0, 0%, 70%);
  }
  
  div.card-content h3 
  {
    margin-bottom: 0.5em;
    font-weight: normal;
  }
  
  div.card-content p 
  {
    font-size: 95%;
  }
  
  img.spectrum1 
  {
    width: 100%;
    height: auto;
  }
  
  div a, a:hover 
  {
    text-decoration: none;
  }
  
  div a:hover 
  {
    opacity: 0.8;
  }
  
  

/*detail end*/

 /* Footer */
 .media2
 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-block;
    margin: 20px;
    
    
  }

  .endcont
  {
    margin-top: 0px;
    text-align: center;
   
  }

  .endtopic
  {
    font-size: 28px;
    color: rgb(56, 41, 0);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
  }

  .endcont2
  {
    font-size: 15px;
    margin-top: 30px;
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: bolder;
    
  
  }
  
  .footerlogo
  {
      width: 70px;
      height: 60px;
      
  }
  /* Footer End */