.body{
    color:rgb(92, 63, 0);
}

.cls1{
	border-top: 3px solid #614204;
    width: 50%;
    margin-bottom: 0%;
    background-color:  rgb(90, 66, 0);
    color: rgb(85, 64, 6);
}
.cls2{
	border-top: 3px solid  rgb(90, 66, 0);
    width: 100%;
    margin-bottom: 0%;
    background-color:  rgb(90, 66, 0);
    color: rgb(90, 66, 0);
}

.imglg1
{
  width: 400px;
  height: 200px;
  border-radius: 5px;
  margin: 5px;
  box-shadow: 9px 9px 7px rgba(0, 0, 0, 0.329);
  
}
.imgxs1
{
  width: 200px;
  height: 150px;
  border-radius: 5px;
  
  display: inline-block;
  box-shadow: 9px 9px 7px rgba(0, 0, 0, 0.308);
  
 
}
.imgs1
{
  width: 280px;
  height: 180px;
  border-radius: 5px;
  margin: 0px;
  display: inline-block;
  box-shadow: 9px 9px 7px rgba(0, 0, 0, 0.267);
  margin-left: 10px;
  
  
}
