.body{
    color:rgb(92, 63, 0);
}

.cls1{
	border-top: 3px solid #8c8b8b;
    width: 70%;
    margin-bottom: 0%;
}
.imglg1
{
  width: 400px;
  height: 200px;
  border-radius: 5px;
  margin: 5px;
  box-shadow: 9px 9px 7px rgba(0, 0, 0, 0.329);
  
}